/*?MEDIA QUERYS TABLET*/

@media screen and (min-width: 768px) and (max-width: 1280px){
    /*? codigo primer contenedor se crean los estilos del titulo proncipal y el texto principal con la imganen principal*/
    main .main_primer-container .primer-container-conten{
     width: 90%;
     height: auto;
     display: grid;
     grid-template-columns: 1fr 1fr;
     justify-items: center;
     overflow: hidden;
 }
 
 /*? Se crean los estilos del primer texto*/
 main .main_primer-container .primer-container__textp{
     width: 100%;
     height: auto;
     margin-top: 30px;
     text-align: center;
     font-size: 1.6rem;
     color: var(--claro);
 }
 
 /*? Se crean los estilos de la primera imagen*/
 main .main_primer-container .primer-container-conten .primer-container__imgp{
     width: 100%;
     height: 400px;
     margin-top: 80px;
     background-image: url("/Img/MOCKUPS/CHEESCAKES.png");
     background-size: contain;
     background-repeat: no-repeat;
 }
 
 /*? Se crean los estilos del contenedor que lleva el segundo texto*/
 
 main .main_primer-container .primer-container-conten .container-conten-texts{
     width: 100%;
     height: auto;
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin-top: 20px;
     color: var(--claro);
     text-align: center;
 }
 
 
 /*? Se crean los estilos del segundo contenedor*/
 
 main .main_segundo-container{
     width: 100%;
     height: 150px;
     display: grid;
     grid-template-rows: 1fr 1fr;
     justify-items: center;
     color: var(--claro);
     background-color: var(--cielo);
 }
 
 /*? Se crean los estilos del text del segundo contenedor*/
 main .main_segundo-container .segundo-container__text1{
     width: 100%;
     text-shadow: 0px 0px 20px rgba(0,0,0,0.84);
     margin-top: 10px;
     font-size: 3.5rem;
     font-weight: bold;
     text-align: center;
 }
 main .main_segundo-container .segundo-container__text2{
     width: 100%;
     font-weight: bold;
     font-size: 1.8rem;
     text-shadow: 0px 0px 20px rgba(0,0,0,0.84);
     text-align: center;
 }
 
 main .main_tercer-container .tercer-container-contenedor{
     width: 100%;
     height: auto;
     display: grid;
     grid-template-columns: 1fr 1fr;
     justify-items: center;
     align-items: center;
 }
 
 main .main_tercer-container .tercer-container-contenedor .tercer-container__text .container__text-text1{
     font-size: 1.8rem;
 }
 
 /*? Se crean los estilos del curato contenedor*/
 
 main .main_cuarto-container .cuarto-container-contenedor{
     width: 90%;
     height: auto;
     display: grid;
     grid-template-columns: 1fr 1fr;
     justify-items: center;
     overflow: hidden;
 }
 
 
 main .main_cuarto-container .cuarto-container-contenedor .container-contenedor-text1{
     width: 100%;
     height: auto;
     margin-top: 20px;
     text-align: center;
     font-size: 1.8rem;
     color: var(--cielo);
 }
 
 main .main_cuarto-container .cuarto-container-contenedor .container-contenedor-text2{
     width: 100%;
     height: auto;
     text-align: center;
     margin-top: 20px;
     font-weight: bold;
     font-size: 1.5rem;
 }
 
 /*? Se crean los estilos del quinto contenedor*/
 main .main_quinto-container .quinto-container-img{
     width: 90%;
     height: auto;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     column-gap: 2em;
     justify-content: center;
 }
 
 main .main_quinto-container .quinto-container-img .quinto-container-img1{
     width: 100%;
     height: auto;
     margin-top: 30px;
     border-radius: 20px;
     box-shadow: 0px 0px 15px black;
     overflow: hidden;
 }
 
 main .main_quinto-container .quinto-container-img .quinto-container-img1 img{
     width: 100%;
 }
 
 main .main_quinto-container .quinto-container-img .quinto-container-img2{
     width: 100%;
     height: auto;
     margin-top: 30px;
     border-radius: 20px;
     box-shadow: 0px 0px 15px black;
     overflow: hidden;
 }
 
 main .main_quinto-container .quinto-container-img .quinto-container-img2 img{
     width: 100%;
 }
 
 
 main .main_quinto-container .quinto-container-img .quinto-container-img3{
     width: 100%;
     height: auto;
     margin-top: 30px;
     border-radius: 20px;
     box-shadow: 0px 0px 15px black;
     overflow: hidden;
 }
 
 main .main_quinto-container .quinto-container-img .quinto-container-img3 img{
     width: 100%;
 }
 
 main .main_quinto-container .quinto-container-img .quinto-container-img4{
     width: 100%;
     height: auto;
     margin-top: 30px;
     border-radius: 20px;
     box-shadow: 0px 0px 15px black;
     overflow: hidden;
 }
 
 main .main_quinto-container .quinto-container-img .quinto-container-img4 img{
     width: 100%;
 }
 
 /*? Se crean los estilos del sexto contenedor*/
 main .main_sexto-container{
     width: 100%;
     height: auto;
     display: grid;
     justify-items: center;
     grid-template-columns: 1fr 1fr;
     overflow: hidden;
     background-color: var(--claro);
 }
 main .main_sexto-container .sexto-container-img{
     width: 90%;
     height: auto;
     display: grid;
     align-items: center;
 }
 
 /*? Se crean los estilos del septimo contenedor*/
 
 main .main_septimo-container{
     width: 100%;
     height: auto;
     display: grid;
     grid-template-columns: 1fr 1fr;
     justify-items: center;
     overflow: hidden;
     background-color: var(--claro);
 }
 main .main_septimo-container .septimo-container-productor{
     width: 50%;
     height: 500px;
     margin-top: 90px;
     border-radius: 150px;
     overflow: hidden;
 }
 
 main .main_septimo-container .septimo-container-texts{
     width: 90%;
     height: auto;
     margin-top: 30px;
     display: grid;
     justify-items: center;
     align-items: center;
 }
 
 main .main_octavo-container .octavo-container-bonoOne{
     width: 90%;
     height: auto;
     display: grid;
     grid-template-columns: 1fr 1fr;
     justify-content: center;
     align-items: center;
     margin-top: 90px;
     overflow: hidden;
 }
 
 main .main_octavo-container .octavo-container-bonoOne .container-bonoOne-texts .linea{
     width: 150px;
     height: 5px;
     background-color: var(--cielo);
 }
 
 main .main_octavo-container .octavo-container-bonoOne .container-bonoOne-texts .bonoOne-texts-text{
     width: 100%;
     height: auto;
 }
 
 main .main_noveno-container{
     width: 100%;
     height: auto;
     display: grid;
     grid-template-columns: 1fr 1fr;
     justify-items: center;
     align-items: center;
     overflow: hidden;
     background-color: var(--claro);
 }
 
 main .main_decimo-container .decimo-container-testimonio{
     width: 90%;
     height: auto;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     justify-items: center;
 }
 
 main .main_onceavo-container{
     width: 100%;
     height: auto;
     display: grid;
     grid-template-columns: 1fr 1fr;
     justify-items: center;
     overflow: hidden;
    background-color: var(--claro);
 }
 
 main .main_onceavo-container .onceavo-contiainer-cetificado .container-cetificado-img{
     width: 100%;
     height: 400px;
     background-image: url("/Img/CERTIFICADO/Certificado-MOCKUP.png");
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
 }
 
 main .main_onceavo-container .onceavo-container-regalo .container-regalo-img{
     width: 100%;
     height: 400px;
     background-image: url("/Img/MOCKUPS/ofertaCompleta.png");
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
 }
 
 }